@import "tailwindcss";

body {
    margin-top: 100px;
    background-color: #b3c7f9;
    font-family: 'Sour Gummy', Sans-Serif;
    font-size: 17px;
  }

  button {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=97468'), auto;
  }

  a {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=97468'), auto;
  }

  img {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=97468'), auto;

  }

  input {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=97468'), auto;

  }