@import "tailwindcss";

body {
    margin-top: 100px;
    background-color: #b3c7f9;
    font-family: 'Sour Gummy', Sans-Serif;
    font-size: 17px;
  }

  button {
    cursor: url('./assets/carrot.cur'), auto;
  }

  a {
    cursor: url('./assets/carrot.cur'), auto;
  }

  img {
    cursor: url('./assets/carrot.cur'), auto;
  }

  input {
    cursor: url('./assets/carrot.cur'), auto;
  }